<h1>Current Conditions in Boulder for Tubing</h1>

<h3>Weather Conditions:</h3>
<ul>
  <li class="current_temp">@forecast.current_temp</li>
  <li class="current_conditions">@forecast.current_conditions</li>
  <li class="current_flow">@forecast.current_flow</li>
</ul>

<h3>Recommendation:</h3>
<ul>
  <li class="recommendation">@forecast.recommendation</li>
</ul>
